In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
d=pd.read_csv("D:\ML\MLpractice\kidney_disease.csv")

In [107]:
s=d.copy()

In [ ]:
s.head()

In [5]:
s[['classification']] = s[['classification']].replace(to_replace={'ckd':1,'notckd':0,'ckd\t':0})
s

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,1
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,1
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,1
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,1
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,0
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,0
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,0
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,0
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,0

In [6]:
new_names={"bp":"blood_pressure",
"sg":"Specific_gravity",
"al" :"albumin",
"su" : "sugar",
           "rbc":"red_blood_cells",
           "pc":"pus_cell",
           "pcc":"pus_cell_clumps",
           "ba":"bacteria",
           "bgr":"blood_glucose_random",
           "bu":"blood_urea",
           "sc":"serum_creatinine",
           "sod":"sodium",
           "pot":"potassium",
           "hemo":"hemoglobin",
           "pcv":"packed_cell_volume",
           "wc":"white_blood_cell_count",
           "rc":"red_blood_cell_count",
           "htn":"hypertension",
           "dm":"diabetes_melitus",
           "cad":"coronary_artery_disease",
           "appet":"appetite",
           "pe":"pedal_edema",
           "ane":"anemia"}
s.rename(columns=new_names,inplace=True)
s.head()

,id,age,blood_pressure,Specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_melitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,1
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,1
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,1
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,1
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,1

In [104]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   400 non-null    float64
 1   blood_pressure        400 non-null    float64
 2   Specific_gravity      400 non-null    float64
 3   albumin               400 non-null    float64
 4   sugar                 400 non-null    float64
 5   pus_cell_clumps       400 non-null    int64
 6   bacteria              400 non-null    int64
 7   blood_glucose_random  400 non-null    float64
 8   blood_urea            400 non-null    float64
 9   serum_creatinine      400 non-null    float64
 10  hypertension          400 non-null    int64
 11  diabetes_melitus      400 non-null    int64
 12  appetite              400 non-null    int64
 13  pedal_edema           400 non-null    int64
 14  anemia                400 non-null    int64
 15  classification        400 non-null    int64
dtypes: float64(8), int64(8)
memory usage: 50.1 KB

In [7]:
s['classification'].value_counts()

1    248
0    152
Name: classification, dtype: int64

In [8]:
s.drop(['id'],axis=1,inplace=True)

In [9]:
s.drop(['red_blood_cell_count','white_blood_cell_count','packed_cell_volume','hemoglobin','potassium','sodium','red_blood_cells'],axis=1,inplace=True)

In [10]:
s.drop(['coronary_artery_disease','pus_cell'],axis=1,inplace=True)

In [67]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   400 non-null    float64
 1   blood_pressure        400 non-null    float64
 2   Specific_gravity      400 non-null    float64
 3   albumin               400 non-null    float64
 4   sugar                 400 non-null    float64
 5   pus_cell_clumps       400 non-null    int64
 6   bacteria              400 non-null    int64
 7   blood_glucose_random  400 non-null    float64
 8   blood_urea            400 non-null    float64
 9   serum_creatinine      400 non-null    float64
 10  hypertension          400 non-null    int64
 11  diabetes_melitus      400 non-null    int64
 12  appetite              400 non-null    int64
 13  pedal_edema           400 non-null    int64
 14  anemia                400 non-null    int64
 15  classification        400 non-null    int64
dtypes: float64(8), int64(8)
memory usage: 50.1 KB

In [68]:
p=s['age'].mean()
s['age'].replace(np.nan,p,inplace=True)
q=s['blood_pressure'].mean(axis=0)
s['blood_pressure'].replace(np.nan,q,inplace=True)
a=s['Specific_gravity'].mean(axis=0)
s['Specific_gravity'].replace(np.nan,a,inplace=True)

In [69]:
a=s['albumin'].mean(axis=0)
o=s['sugar'].mean(axis=0)
l=s['blood_urea'].mean(axis=0)
s['albumin'].replace(np.nan,a,inplace=True)
s['sugar'].replace(np.nan,o,inplace=True)
s['blood_urea'].replace(np.nan,l,inplace=True)

In [70]:
s['hypertension'].replace(np.nan,'yes',inplace=True)
s['diabetes_melitus'].replace(np.nan,'no',inplace=True)
s['anemia'].replace(np.nan,'yes',inplace=True)
s['appetite'].replace(np.nan,'yes',inplace=True)
s['pedal_edema'].replace(np.nan,'no',inplace=True)

In [71]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   400 non-null    float64
 1   blood_pressure        400 non-null    float64
 2   Specific_gravity      400 non-null    float64
 3   albumin               400 non-null    float64
 4   sugar                 400 non-null    float64
 5   pus_cell_clumps       400 non-null    int64
 6   bacteria              400 non-null    int64
 7   blood_glucose_random  400 non-null    float64
 8   blood_urea            400 non-null    float64
 9   serum_creatinine      400 non-null    float64
 10  hypertension          400 non-null    int64
 11  diabetes_melitus      400 non-null    int64
 12  appetite              400 non-null    int64
 13  pedal_edema           400 non-null    int64
 14  anemia                400 non-null    int64
 15  classification        400 non-null    int64
dtypes: float64(8), int64(8)
memory usage: 50.1 KB

In [72]:
l=s['blood_glucose_random'].mean()
s['blood_glucose_random'].replace(np.nan,l,inplace=True)
g=s['serum_creatinine'].mean()
s['serum_creatinine'].replace(np.nan,g,inplace=True)
s['pus_cell_clumps'].replace(np.nan,'present',inplace=True)
s['bacteria'].replace(np.nan,'present',inplace=True)

In [73]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   400 non-null    float64
 1   blood_pressure        400 non-null    float64
 2   Specific_gravity      400 non-null    float64
 3   albumin               400 non-null    float64
 4   sugar                 400 non-null    float64
 5   pus_cell_clumps       400 non-null    int64
 6   bacteria              400 non-null    int64
 7   blood_glucose_random  400 non-null    float64
 8   blood_urea            400 non-null    float64
 9   serum_creatinine      400 non-null    float64
 10  hypertension          400 non-null    int64
 11  diabetes_melitus      400 non-null    int64
 12  appetite              400 non-null    int64
 13  pedal_edema           400 non-null    int64
 14  anemia                400 non-null    int64
 15  classification        400 non-null    int64
dtypes: float64(8), int64(8)
memory usage: 50.1 KB

In [74]:
s.head()

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,diabetes_melitus,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,0,1,0,0,1

In [75]:
s[['bacteria','pus_cell_clumps']] = s[['bacteria','pus_cell_clumps']].replace(to_replace={'notpresent':0,'present':1})

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [76]:
s.head()

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,diabetes_melitus,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,0,1,0,0,1

In [77]:
s[['hypertension','diabetes_melitus']] = s[['hypertension','diabetes_melitus']].replace(to_replace={'no':0,'yes':1})

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [78]:
s.head()

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,diabetes_melitus,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,0,1,0,0,1

In [25]:
s.head()

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,diabetes_melitus,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,1,good,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,0,good,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,1,poor,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,poor,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,0,good,0,0,1

In [23]:
s[['appetite']] = s[['appetite']].replace(to_replace={'poor':0,'good':1,'yes':1})

In [24]:
s.head()

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,diabetes_melitus,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,1,1,no,no,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,0,1,no,no,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,1,0,no,yes,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,0,yes,yes,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,0,1,no,no,1

In [33]:
s.drop(['diabetes_melitus'],axis=1)

,age,blood_pressure,Specific_gravity,albumin,sugar,pus_cell_clumps,bacteria,blood_glucose_random,blood_urea,serum_creatinine,hypertension,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,121.000000,36.0,1.2,1,1,no,no,1
1,7.0,50.0,1.020,4.0,0.0,0,0,148.036517,18.0,0.8,0,1,no,no,1
2,62.0,80.0,1.010,2.0,3.0,0,0,423.000000,53.0,1.8,0,0,no,yes,1
3,48.0,70.0,1.005,4.0,0.0,1,0,117.000000,56.0,3.8,1,0,yes,yes,1
4,51.0,80.0,1.010,2.0,0.0,0,0,106.000000,26.0,1.4,0,1,no,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,140.000000,49.0,0.5,0,1,no,no,0
396,42.0,70.0,1.025,0.0,0.0,0,0,75.000000,31.0,1.2,0,1,no,no,0
397,12.0,80.0,1.020,0.0,0.0,0,0,100.000000,26.0,0.6,0,1,no,no,0
398,17.0,60.0,1.025,0.0,0.0,0,0,114.000000,50.0,1.0,0,1,no,no,0
399,58.0,80.0,1.025,0.0,0.0,0,0,131.000000,18.0,1.1,0,1,no,no,0

In [38]:
s[['pedal_edema','anemia']] = s[['pedal_edema','anemia']].replace(to_replace={'no':0,'yes':1})

In [79]:
s['appetite'].value_counts()

1    318
0     82
Name: appetite, dtype: int64

In [80]:
X=s.drop('classification',axis=1).values
y=s['classification'].values

In [81]:
X

array([[48.   , 80.   ,  1.02 , ...,  1.   ,  0.   ,  0.   ],
       [ 7.   , 50.   ,  1.02 , ...,  1.   ,  0.   ,  0.   ],
       [62.   , 80.   ,  1.01 , ...,  0.   ,  0.   ,  1.   ],
       ...,
       [12.   , 80.   ,  1.02 , ...,  1.   ,  0.   ,  0.   ],
       [17.   , 60.   ,  1.025, ...,  1.   ,  0.   ,  0.   ],
       [58.   , 80.   ,  1.025, ...,  1.   ,  0.   ,  0.   ]])

In [82]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=1/3,random_state=0)

In [84]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train[:,0:14]=sc.fit_transform(X_train[:,0:14])
X_test[:,0:14]=sc.transform(X_test[:,0:14])

In [85]:
X_train

array([[-1.02457724,  0.9896967 , -0.49294592, ...,  0.52223297,
        -0.49294082,  0.        ],
       [ 1.14322579,  0.9896967 , -0.49294592, ...,  0.52223297,
        -0.49294082,  0.        ],
       [ 0.28751407, -1.14959198,  1.40887987, ...,  0.52223297,
        -0.49294082,  0.        ],
       ...,
       [ 0.02985219, -0.43649576,  0.45796697, ...,  0.52223297,
        -0.49294082,  0.        ],
       [-2.27962109,  0.27660047, -1.44385882, ...,  0.52223297,
        -0.49294082,  0.        ],
       [ 0.62979876,  0.27660047, -1.44385882, ...,  0.52223297,
        -0.49294082,  0.        ]])

In [86]:
X_test

array([[-0.05477062,  0.02481134, -0.0349992 , ...,  0.52223297,
         2.02864108,  1.        ],
       [ 0.00227683, -1.14959198,  0.45796697, ...,  0.52223297,
        -0.49294082,  0.        ],
       [ 0.68684621, -0.43649576,  1.40887987, ...,  0.52223297,
        -0.49294082,  0.        ],
       ...,
       [-0.45410276, -1.14959198,  1.40887987, ...,  0.52223297,
        -0.49294082,  0.        ],
       [ 0.915036  , -0.43649576,  0.45796697, ...,  0.52223297,
         2.02864108,  0.        ],
       [ 0.8009411 , -0.43649576, -0.49294592, ..., -1.91485422,
         2.02864108,  0.        ]])

In [87]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [88]:
y_pred=classifier.predict(X_test)
y_pred

array([1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1], dtype=int64)

In [89]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [90]:
accuracy_score(y_test, y_pred)

0.9626865671641791

In [91]:
from sklearn.tree import DecisionTreeClassifier
#from sklearn.tree import DecisionTreeClassfier
tre=DecisionTreeClassifier(criterion='entropy',random_state=0)
tre.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [92]:
print("accuracy of decision tree clasisfier:{:.3f}".format(tre.score(X_train,y_train)))

accuracy of decision tree clasisfier:1.000

In [93]:
y_pred=classifier.predict(X_test)

In [94]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy_score(y_test, y_pred)

0.9626865671641791

In [95]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=40,criterion='entropy',random_state=0)
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=40,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [96]:
y_pred=rf.predict(X_test)

In [97]:
accuracy_score(y_test,y_pred)

0.9477611940298507

In [98]:
from sklearn.svm import SVC
c=SVC( kernel='linear', random_state=1)
c.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [99]:
y_pred=c.predict(X_test)

In [100]:
accuracy_score(y_test,y_pred)

0.9626865671641791

In [101]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=9,metric='minkowski',p=2)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=9, p=2,
                     weights='uniform')

In [102]:
y_pred=classifier.predict(X_test)

In [103]:
accuracy_score(y_test,y_pred)

0.9552238805970149